body{
  background-color: #303952;
}
.app{
    background-image: url("./images/paper1.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    min-height: 500px;
    width: 450px;
    margin: 40px auto;
}
.to-do-form input{
  border-radius: 10px;
  background-color: #cf6a87;
  border: 0;
  width: 200px;
  height: 50px;
  margin: 20px;
  font-size: 18px;
  color: #ffffff !important;
  padding: 0 20px !important;
}
.to-do-form input::placeholder{
   color: rgb(230, 214, 214);
   font-size: 15px;
}
.to-do-form input:focus, .to-do-form button:focus{
  outline: none;
}
.to-do-form button{
  height: 40px;
  width: 70px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(226, 186, 7);
  cursor: pointer;
  color: whitesmoke;
}